<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cs4720furrett.rpimobileproject"
    android:screenOrientation="landscape" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cs4720furrett.rpimobileproject.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cs4720furrett.rpimobileproject.SongList"
            android:label="@string/title_activity_song_list"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="cs4720furrett.rpimobileproject.MySettings"
            android:label="@string/title_activity_my_settings"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="cs4720furrett.rpimobileproject.GameScreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_game_screen"
            android:parentActivityName="cs4720furrett.rpimobileproject.SongList"
            android:theme="@style/FullscreenTheme"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs4720furrett.rpimobileproject.SongList" />
        </activity>
        <activity
            android:name="cs4720furrett.rpimobileproject.ResultsScreen"
            android:label="ResultsScreen"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitterlogin"
                    android:scheme="x-oauthflow-twitter" />
            </intent-filter>
        </activity>
        <activity
            android:name="cs4720furrett.rpimobileproject.HowToPlay"
            android:label="@string/title_activity_how_to_play"
            android:parentActivityName="cs4720furrett.rpimobileproject.MainActivity"
            android:screenOrientation="landscape">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cs4720furrett.rpimobileproject.MainActivity" />
        </activity>
    </application>

</manifest>
